@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs1 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}
.register-div {
  margin-top: 150px !important;
}
.spinner-border {
  position: fixed !important;
  top: 40%;
  text-align: center;
  z-index: 10;
}
.ProfilPic1 {
  padding-left: 15px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 20px !important;
  background-color: grey;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white !important;
}
img {
  border-radius: 5px;
  object-fit: contain;
}
.postimage {
  height: 500px;
  width: 100%;
  margin-top: 10px;
}
p {
  color: grey;
  margin: 5px !important;
  font-size: 18px;
}
.anticon svg {
  font-size: 18px !important;
}
.ProfilPic2 {
  height: 50px !important;
  width: 50px !important;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: gray !important;
  text-align: center !important;
  font-size: 35px !important;
  font-weight: bold !important;
  color: white !important;
}
